TOKEN = ''
DEBUG = False # NOTE: to logs all commands executed by user
PREFIX = '!'
OwnerID = 
MainServerID =
Status = 'tee-hee'
db_config = {
    'host': '',
    'user': '',
    'password': '',
    'db': ''
}

# XXX: for osu bancho.py based servers
Bancho = ''
BanchoApiKey = ''